.button {
    -fx-background-color: #1E1E2E;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 10px;
    -fx-padding: 4px 20px;
}
.button:hover {

}
.button:pressed {
    /* pressed and held */
}
.button:focused {
    /* has keyboard focus */
}
.button:default {
    /* default button (Enter key triggers it) */
}
