.root {
    -fx-font-family: Arial, sans-serif;
    -fx-background-color: #F4F4F4;
}

.button {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #1C1C1C;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #F0F0F0;
}

.button:focused {
    -fx-border-color: #1C1C1C;
    -fx-background-color: #F0F0F0;
}

.text-field {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #1C1C1C;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
}

.text-field:focused {
    -fx-border-color: #1C1C1C;
}

.text-area {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #1C1C1C;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-width: 1px;
}

.text-area .content {
    -fx-background-color: #F4F4F4;
}

.text-area:focused {
    -fx-border-color: #1C1C1C;
}

.table-view {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #1C1C1C;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-font-size: 12px;
}

.table-view .column-header {
    -fx-background-color: #F4F4F4;
    -fx-border-color: #1C1C1C;
    -fx-border-width: 0 1px 1px 0;
}

.table-view .column-header .label {
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-padding: 6px;
    -fx-border-color: transparent #1C1C1C #1C1C1C transparent;
}

.table-row-cell:hover {
    -fx-background-color: #F0F0F0;
}

.table-row-cell:selected {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: transparent;
}
