.root {
    -fx-font-family: "Segoe UI Black";
    -fx-background-color: #EEEEEE;
}

.blue-button {
    -fx-background-color: #1E1E2E;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 11px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #2A2A3D;
    -fx-border-width: 1;
}

.blue-button:hover {
    -fx-background-color: #2A2A3D;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.blue-button:pressed {
    -fx-background-color: #141427;
    -fx-translate-y: 1px;
}

.white-button {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #141427;
    -fx-font-size: 11px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #1E1E2E;
    -fx-border-width: 0.7;
}

.white-button:hover {
    -fx-background-color: #e8e8e8;
    -fx-text-fill: #141427;
    -fx-cursor: hand;
}

.white-button:pressed {
    -fx-background-color: #DEE2E6;
    -fx-translate-y: 1px;
}

.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: #1E1E2E;
    -fx-font-size: 11px;
}

.logout-button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #141427;
}

.logout-button:pressed {
    -fx-cursor: hand;
    -fx-text-fill: #141427;
    -fx-translate-y: 2px;
}

.white-textfield {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #141427;
    -fx-font-size: 11px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #1E1E2E;
    -fx-border-width: 0.5;
}

.white-textfield:hover {
    -fx-background-color: #e8e8e8;
}

.white-textfield:focused {
    -fx-background-color: #e8e8e8;
    -fx-border-width: 0.8;
    -fx-border-color: #141427;
}

.shadow-container {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 8, 0, 0, 2);
}